*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  padding-top: 70px;
  font-family: Arial, sans-serif;
}
.navbar{
  background-color: rgb(0, 0, 0);
  z-index: 999;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #000; /* preto igual ao seu cabeçalho */
  padding-top: 140px;
  z-index: 500;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #222;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: background 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #f1cd2f;
  color: #000;
  border-radius: 4px;
}
  
  footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0px;
  }
  .texto-sobre{
    font-size: 30px;
    color: black;
    font-family:'Times New Roman', Times, serif
  }