body {
    background-color: #000000;
    color: rgb(238, 238, 238);
    padding-top: 70px;
  }

  .navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    transition: background-color 0.3s ease;
    

  }

  .icon-button {
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 6px 16px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    text-decoration: none;
  }

  .icon-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
  }

  .logo {
    max-height: 98px;
  }

  .offcanvas {
    background-color: #000000;
    color: white;
  }

  .navbar-section {
    flex: 1;
  }

  .navbar-center {
    flex: 1;
    text-align: center;
  }

  .navbar-end {
    flex: 1;
    text-align: right;
  }
  .navbar.scrolled {
    background-color: #0e0d0d /* cor quando rola para baixo */
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9c700;
    padding: 30px 40px;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300x;
    flex: 1;
    min-width: 250px;
    gap: 40px;
    box-shadow: 20px;
  }
  
  .info-box i {
     white-space: nowrap;
    font-size: 32px;
    margin-bottom: 10px;
    color: #000; /* ou o tom que desejar */
    font-size: 50px;
  }
  
  .info-box h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  
  .info-box p {
    margin-top: 5px;
    font-size: 18px;
    line-height: 1.4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .card {
    width: 300px;
    height: 400px;
    background-color: #000;
    border: none;
    text-align: center;
    color: #dfdcdc;
    box-shadow:  0 0 10px rgba(240, 225, 74, 0.6);
    transition: transform 0.3s ease;
    cursor: pointer;
  
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(240, 225, 74, 1);
  }
  .card img {
    width: 100%;
    height: 100%;
    border-radius: rem;
    background-color: #ffffff;
  
    
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    text-transform: uppercase;
  }
  
  .card-text {
    color: #f0e14a;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem
  }
  
  /* Botão destaque */
  .btn-highlight {
    background-color: #f0e14a;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
  }
  
  .btn-highlight:hover {
    background-color: #fff200;
    transform: scale(1.05);
  }
  h5{
    font-size: smaller;
  }
.h2-titulo{
  font-family: cursive;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow: 0px 3px 0px #f0e24a7e;
  
}
.botao-fechar{
  z-index: 2000;
}
.manutencao{
  display: block;
  margin: 40px auto; /* Espaço acima e abaixo */
  max-width: 90%;    /* Responsivo */
  height: 600px;
}