<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirecionar todas as requisições para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
